<div class="card card_layout">
  <div class="post" [ngStyle]="{background: 'url(../../../../assets/' + postItem.post_img + ') no-repeat'}">
    <div class="d-flex justify-content-between p-1">
      <div class="text-white" style="font-size: 12px;">
        <span class="material-icons" style=" font-size: 12px;">
          schedule
        </span>
       {{postItem.post_date}}
      </div>
      <div class="bg-black">
        <div class="img_backgorund">
          <span class="material-icons">
            insert_photo
            </span>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center align-items-center pull-bottom post-footer">
        <span class="material-icons">
          favorite
        </span>
        <span>{{postItem.likes | shortNumber}}</span>
        <span class="material-icons" >
          sms
        </span>
        <span>{{postItem.comments.length | shortNumber }}</span>
    </div>
  </div>
</div>
