<div class="container">

  <!-- search box started here -->
  <div class="row">
    <input class="col-xl-12" type="text" class="search-box" id="exampleCheck1">
  </div>
  <div class="secondary-title hash-tag-block mb-3">
    <span>Hashtags :</span>
    <span class="hashtag">#cheeselove</span>
  </div>
  <!-- search box end here -->

  <!-- User post started here  -->
  <div class="mt-4">
    <div class="secondary-title hash-tag-block mb-3">
      <span>Your Posts :</span>
    </div>
    <div>
      <ngx-slick-carousel class="carousel"
      #slickModal="slick-carousel"
      [config]="slideConfig"
    >
        <div ngxSlickItem *ngFor="let post of posts" class="slide">
          <app-post-item [postItem]="post" class="pr-4"></app-post-item>
        </div>
      </ngx-slick-carousel>
    </div>
  </div>
  <!-- User post end here  -->

  <!-- User similar post started here  -->
  <div class="secondary-title hash-tag-block d-flex justify-content-between mb-3">
    <span>Similar posts</span>
    <span class="hashtag">24 Posts</span>
  </div>
    <div class="d-flex flex-wrap">
      <div  *ngFor="let post of posts" class="slide">
        <app-post-item [postItem]="post" class="pr-4" width="183px"></app-post-item>
      </div>
    </div>
  <!-- User similar post ends here  -->
</div>
