<footer class="footer pull-bottom" style="  height: 20px;
line-height: 20px;
background-color: #fff;
">
  <div class="row no-gutters text-center">
    <div class="col col-xs-3 menu-item">
      <img src="../../../../assets/component1.png" width="20px"  >
      <span>Home</span>
    </div>
    <div class="col  col-xs-3 menu-item">
      <img src="../../../../assets/component4.png" width="20px" >
      <span>Profile</span>
    </div>
    <div class="col  col-xs-3 menu-item">
      <img src="../../../../assets/component3.png" width="20px" >
      <span>Insights</span>
    </div>
    <div class="col  col-xs-3 menu-item">
      <img src="../../../../assets/component2.png" width="20px" >
      <span>Notification</span>
    </div>
  </div>
</footer>
